//fuente_principal
$fuente_principal:'Monserrat',
sans-serif;


//colores
$verde: #087E8B;
$rojo:#DD1A25;
$rosa:#E4572E;
$amarillo:#fef46d;
$morado:#752f97;
$negro:#000;
$blanco:#fff;
$azul:#0000ff;

//media querie

$phone:480px;
$tablet:768px;
$desktop:992px;
$desktopXL:1200px;